.sidebar {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 20px;
    width: 100%;
    background: black;
    padding: 10px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 6px;
    background: #F6F6F6;
    gap: 15px;
    cursor: pointer;
    text-align: left;
}

.sidebar-item img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.sidebar-item p {
    margin: 0;
    font-size: 16px;
    color: #333; /* Text color for readability */
}

.sidebar-background {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

@media (max-width: 800px) {
    .sidebar {
        padding: 20px 0;
        flex-direction: column;
        justify-content: center;
        background: transparent;
        height: auto;
    }

    .sidebar-background {
        display: none;
    }

    .sidebar-item {
        margin: 0;
        width: 100%;
    }
}
